@import url('https://fonts.googleapis.com/css2?family=Alegreya:wght@400;600&display=swap');

$primary-font: 'Alegreya', serif;
$font-regular: 400;
$font-heavy: 600;

$color-blue: #33658a;
$color-green: #6BA292;
$color-yellow: #E9B44C;
$color-red: #9B2915;
$color-black: #1D1E18;
$color-dark-grey: #5b5d5f;
$color-grey: #9e9fa1;
$color-white: #fcfbf1;
$color-beige: #f6ecd8