@use "/src/assets/scss/variables" as *;

.App {
  display: flex;
  flex-direction: column;
  align-items: center;

  font-family: $primary-font;
  text-align: center;

  background-color: $color-white;
}

.heading {
  &__title {
    font-size: 32px;;
  }
}


