@use "/src/assets/scss/variables" as *;

.App {
  display: flex;
  flex-direction: column;
  align-items: center;

  font-family: $primary-font;
  text-align: center;

  background-color: $color-white;
}

.heading {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 18px;

  &__logo {
    max-height: 150px;
  }
  &__search {
    align-self: flex-start;
    &--label {
      align-self: flex-start;
      margin-left: 1rem;
    }
  }
  &__house-menu {
    align-self: flex-end;
    margin-top: -30px;
    margin-bottom: 3rem;
  }
}


