@use "/src/assets/scss/variables" as *;

.App {
  display: flex;
  flex-direction: column;
  align-items: center;

  font-family: $primary-font;
  text-align: center;

  background-color: $color-white;
}

.heading {
  display: flex;
  flex-direction: column;
  align-items: center;

  &__logo {
    height: 150px;
  }
  &__title {
    display: none;
    font-size: 32px;;
  }
}


